<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express App</title>
      <script src='https://www.gstatic.com/firebasejs/4.9.0/firebase.js'></script>
      <script>
        // Initialize Firebase
        var config = {
          apiKey: 'AIzaSyAK3eBaXs7vbG8H_-jW-NqEYVuBBviZOxA',
          authDomain: 'first-2a4e8.firebaseapp.com',
          databaseURL: 'https://first-2a4e8.firebaseio.com',
          projectId: 'first-2a4e8',
          storageBucket: 'first-2a4e8.appspot.com',
          messagingSenderId: '352918754504'
        };
        firebase.initializeApp(config)
      </script>
  </head>
  <body>
    <h1>Voting</h1>
    <p>Login with FireBase</p>
    <h3 id="google-displayName"></h3>
    <img id="google-pic" alt="">
    <p id="google-email"></p>
    <button
    onclick={signInWithGoogle()}
    class = "btn btn-primary"
    id = "google-signin"
    >Login
    </button>
    <button
    onclick={signOut()}
    class = "btn btn-primary"
    id = "signout"
    style="display: none; visible: hidden;"
    >
    Sign Out
    </button>
    <script src="js/firebaseAuth.js">

    </script>
  </body>
</html>
