<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express App</title>
    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

      <script src='https://www.gstatic.com/firebasejs/4.9.0/firebase.js'></script>
      <script src="js/config.js">
      </script>
  </head>
  <body>
    <div class="container">
      <h1>Voting</h1>
      <p>Add Restraunt: <input id=addRestraunt /></p>
      <button
      class="btn btn-primary"
      onclick={addRestraunt()}
      >
      Add
    </button>
    <div class="row">
      <%var keys = Object.keys(restraunts)%>
      <%keys.forEach(function(key) {%>
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                  <%=  restraunts[key]%>
          <div class="card-action">
                <button class="btn">Upvote</button>
                <button class="btn">Down Vote</button>
          </div>
        </div>
      </div>
    </div>
    <%})%>
      <h3 id="google-displayName"></h3>
      <img id="google-pic" alt="">
      <p id="google-email"></p>
      <button
      onclick={signInWithGoogle()}
      class = "btn btn-primary"
      id = "google-signin"
      >Login
      </button>
      <button
      onclick={signOut()}
      class = "btn btn-primary"
      id = "signout"
      style="display: none; visible: hidden;"
      >
      Sign Out
      </button>
    </div>
    <script src="js/firebaseAuth.js">
    </script>
    <script src="js/firebaseVoting.js">
    </script>
  </body>
</html>
