<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express App</title>
      <script src='https://www.gstatic.com/firebasejs/4.9.0/firebase.js'></script>
      <script src="js/config.js">
      </script>
  </head>
  <body>
    <div class="container">
      <h1>Voting</h1>
      <p>Add Restraunt: <input id=addRestraunt /></p>
      <button
      class="btn btn-primary"
      onclick={addRestraunt()}
      >
      Add
      </button>
      <h3 id="google-displayName"></h3>
      <img id="google-pic" alt="">
      <p id="google-email"></p>
      <button
      onclick={signInWithGoogle()}
      class = "btn btn-primary"
      id = "google-signin"
      >Login
      </button>
      <button
      onclick={signOut()}
      class = "btn btn-primary"
      id = "signout"
      style="display: none; visible: hidden;"
      >
      Sign Out
      </button>
    </div>
    <script src="js/firebaseAuth.js">
    </script>
    <script src="js/firebaseVoting.js">
    </script>
  </body>
</html>
