<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello</h1>
    <h3><!-- Inserts js in html -->
    <%=data.toUpperCase()+"!!!"%></h3>
  </body>
</html>
